<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Enterprise Mobile Automation Suite">
    <listeners>
        <listener class-name="com.saveetha.aipulpcapping.automation.listeners.TestListener"/>
    </listeners>
    <test name="End-to-End Tests">
        <classes>
            <class name="com.saveetha.aipulpcapping.automation.tests.E2EFlowTest"/>
            <class name="com.saveetha.aipulpcapping.automation.tests.RegressionSuiteTest"/>
        </classes>
    </test>
</suite>
